#define background 	#252525
#define foreground 	#979797

#define black       #555555
#define red         #ff5370
#define green	    #c3e88d
#define yellow	    #ffcb6b
#define blue	    #82aaff
#define magenta	    #c792ea
#define cyan	    #89ddff
#define white		foreground
#define black_d     #333333
#define red_d  	    #e53934
#define green_d     #91b859
#define yellow_d    #ffb62c
#define blue_d      #6182b8
#define magenta_d   #7c4dff
#define cyan_d      #39abd5
#define white_d     #bbbbbb

*color0:          	black
*color8:          	black_d
*color1:          	red
*color9:          	red_d
*color2:          	green
*color10:        	green_d
*color3:          	yellow
*color11:        	yellow_d
*color4:          	blue
*color12:        	blue_d
*color5:          	magenta
*color13:        	magenta_d
*color6:          	cyan
*color14:        	cyan_d
*color7:          	white
*color15:        	white_d

! Rofi color theme
rofi.font: 		        Fira Mono 10
rofi.color-enabled: 	true
rofi.hide-scrollbar:    true
rofi.bw:                1

! 			        bg		    bdclr       separatorcolor
rofi.color-window: 	background, foreground, foreground
!			        bg          fg          bcalt       hlbg        hlfg	
rofi.color-normal: 	background, white_d,    background, foreground, background
rofi.color-active: 	foreground, background, green_d,    black,      white
rofi.color-urgent: 	red,        black,      red_d,      black,      white


