!     _  _ __ _     _  _ _ __
!  \/|_)|_(_ / \| ||_)/ |_(_
!  /\| \|___)\_/|_|| \\_|___)
!

#define black       #151515
#define red  	    #e53934
#define green       #91b859
#define yellow      #ffb62c
#define blue        #6182b8
#define magenta     #7c4dff
#define cyan_d      #39abd5
#define white       #bbbbbb

#define bblack      #353535
#define bred        #ff5370
#define bgreen	    #c3e88d
#define byellow	    #ffcb6b
#define bblue	    #82aaff
#define bmagenta    #c792ea
#define bcyan	    #89ddff
#define bwhite      #eeeeee

#define bg 	        black
#define fg 	        white

*foreground:        fg
*background:        bg
*color0:          	black
*color8:          	bblack
*color1:          	red
*color9:          	bred
*color2:          	green
*color10:        	bgreen
*color3:          	yellow
*color11:        	byellow
*color4:          	blue
*color12:        	bblue
*color5:          	magenta
*color13:        	bmagenta
*color6:          	cyan
*color14:        	bcyan
*color7:          	white
*color15:           bwhite

*cursorBlink        : 0
URxvt.font          : xft:Ubuntu Mono:size=11
URxvt.boldFont      : xft:Ubuntu Mono:size=11

*lineSpace          : 0
*letterSpace        : -1
*scrollstyle        : rxvt
*scrollBar          : false
*internalBorder     : 24
*cursorUnderline    : false
*geometry           : 80x25
*thickness          : 5
*titleBar           : false
*intensityStyles    : false

*perl-lib           : /usr/lib/urxvt/perl/
*perl-ext           : default,matcher
*url-launcher       : /usr/bin/firefox
*matcher.button     : 1
*underlineURLs      : true

Xft.dpi             : 96
Xft.antialias       : true
Xft.rgba            : rgb
Xft.hinting         : true
Xft.hintstyle       : hintslight
Xft.autohint        : false
Xft.lcdfilter       : lcddefault


! Rofi color theme
rofi.font: 		        Ubuntu Mono 9
rofi.color-enabled: 	true
rofi.hide-scrollbar:    true
rofi.bw:                1

! 			        bg          bdclr       separatorcolor
rofi.color-window: 	black,      byellow,    black
!
!			        bg          fg          bgalt       hlbg        hlfg
rofi.color-normal: 	black,      white,      black,      yellow,     black
rofi.color-active: 	yellow,     black,      yellow,     black,      white
rofi.color-urgent: 	red,        black,      bred,       black,      white
